@media only screen and (max-width: 1400px)
{
    h1 {
       font-size: 15px;
       top: 0px;
    }
    .arrayArticle {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .arrayArticle > article:last-child {
        grid-column: 1/span 2;
    }
}

@media only screen and (max-width: 1024px)
{
    h1 {
        display: none;
    }
    #hautPage {
        justify-content: flex-start;
    }
    #hautPage > .logo img{
        height: 30px;  /*size du logo actipognon header*/
        margin-left: -20px;
    }
    .navbar #menu {
        font-size: 15px;  /* !!! TEMPORAIRE A REMPLACER AVEC BURGER-MENU !!! */
    }
    .menu a {
        padding: 5px 10px 50px 5px;  /* !!! TEMPORAIRE A REMPLACER AVEC BURGER-MENU !!! */
        margin-right: 5px;
        
    }
    #menu {
        margin-left: -30px;    /* !!! TEMPORAIRE A REMPLACER AVEC BURGER-MENU !!! */
    }
    .arrayGame {
        grid-template-columns: repeat(2,1fr);
    }
    .arrayArticle {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
    .arrayArticle > article {
        margin-bottom: 50px;
    }
    .arrayArticle > article:nth-child(2){
        grid-row: 2;
    }
    .arrayArticle > article:last-child {
        grid-row: 3;
    }
    #basPage {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoRS > .icon {
        display: flex;
        flex-direction: column;
    }
    .icon > li{
        margin-left: -40px;
    }
    .actifoot {
        font-size: 10px;
        justify-self: end;
        align-self: flex-end;
        margin-right: -100px;
    }
    .actifoot + .logo img{
        display: flex;
        width: 200px;
        /*transform: rotate(90deg);*/
    }
    /*------jeux.html------*/

    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #article1{
        display: flex;
        flex-direction: column;
    }

    #article2{
        display: flex;
        flex-direction: column;
    }

    #article3{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) 
{
    .arrayGame {
        grid-template-columns: 1fr;
    }
    .arrayArticle > article {
        width: 50%;
        justify-self: center;
    }
}