body{
    background-color: #545454;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

#hautPage
{
	display: flex;
	align-items: flex-end;
}

.navBar{
    justify-content: start;
}

nav ul{
    display: flex;
}