body {
    background-color: #545454;
    color: white;
    margin: 5px 0px 5px 0px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

#hautPage {
	display: flex;
	align-items: flex-end;
}

.navbar #menu {
    display: flex;
    height: 50px;
    font-size: 25px;
}

header {
    border-bottom: 1px solid black;
}

header li a {
    display: block; /*permet saut de ligne de chaque li du menu dépliant*/
    padding: 20px 40px 20px 40px;
    background-color: green;
}

header li a:hover {
    background-color: blue;
}

header li:hover .sub-menu {
    display: block; /*permet d'afficher le menu en survolant*/
}

.sub-menu {
    display: none; /*rend invisible*/
    position: absolute; /*permet de le sortir de l'ordre html et donc de pas prendre de l'espace*/
    text-align: centr;
    margin-left: -40px;
    width: 300px;
}

.sub-menu li {
    display: block;
}

.jeux, .apropos, .support {
    margin-right: 55px;
}

.apropos, .support {
    padding-left: 320px;
}

footer {
    border-top: 1px solid black;
}

.logo img {
    position: relative;
    height: 100px;
}

#basPage {
    display: flex;
    align-items: flex-end;
}
